.profile__add-btn {
    margin: 0 0 0 auto;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Add_Button_short.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .3s;
}

.profile__add-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .profile__add-btn {
        margin: 33px 0 0;
        width: 282px;
        background-image: url(../../../images/Add_Button.svg);
    }
}