.profile {
    margin: 0;
    padding: 0;
    padding-bottom: 46px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 700px) {
    .profile {
        padding-bottom: 36px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}