.header__logo {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    margin-left: 0;
    width: 20%;
    max-width: 142px;
    min-width: 103px;
}

@media screen and (max-width: 700px) {
    .header__logo {
        margin-bottom: 31px;
        margin-left: 27px
    }
}