.header {
    margin: 0;
    padding: 0;
    padding: 17px 19px 0;
    box-sizing: border-box;
    background-color: #000;
    width: 100%;
    max-width: 918px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.header:after{
    content: "";
    height: 1px;
    width: 100%;
    opacity: 0.7;
    background-color: #545454;
}

@media screen and (max-width: 700px) {
    .header {
        padding: 28px 0 0;
    }
}