@keyframes heartbeat_active {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

@keyframes heartbeat_inactive {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

.pseudo-checkbox_el_like {
    width: 23px;
    height: 21px;
    background-image: url(../../../images/like.svg);
    animation: heartbeat_inactive .1s linear 2 alternate;
    transition: background .3s;
}

.checkbox_el_like:hover + .pseudo-checkbox_el_like {
    opacity: .5;
}

.checkbox_el_like:checked + .pseudo-checkbox_el_like {
    animation: heartbeat_active .1s linear 2 alternate;
    background-image: url("../../../images/active_like.svg");
}