.content {
    padding: 0 19px;
    padding-top: 44px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    max-width: 918px;
    min-width: 282px;
}

@media screen and (max-width: 700px) {
    .content {
        padding-top: 42px;
    }
}