.popup__heading {
    margin: 33px 0 49px 36px;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    color: #000;
}

@media screen and (max-width: 700px) {
    .popup__heading {
        margin: 25px 22px 75px;
        font-size: 18px;
        line-height: 22px;
    }
}