.elements__title {
    margin: 26px 0 24px;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}