.popup__toggle-image {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    transition: opacity .3s;
}

.popup__toggle-image:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .popup__toggle-image {
        width: 20px;
        height: 20px;
    }
}