.profile__author-name {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile__author-name {
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
    }
}