.elements__like-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 23px;
    height: 19px;
    border: 0;
    background-image: url(../../../images/like.svg);
    background-color: inherit;
    display: inline-block;
    vertical-align: middle;
    background-position: top;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity .1s;
}

.elements__like-button:not(:active):hover {
    opacity: .5;
}

.elements__like-button:active {
    background-image: url("../../../images/active_like.svg");
}