.popup__item {
    margin: 0 0 30px;
    padding: 0 0 9px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid;
    display: flex;
    border-color: rgba(0, 0, 0, .2);
    min-width: 55px;
    background-color: white;    
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}