.popup__toggle {
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: -41px;
    right: -40px;
}

@media screen and (max-width: 700px) {
    .popup__toggle {
        right: 0;
        top: -36px;
    }
}